<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GamesWiki</title>
</head>
<body><!-- Aqui va todo lo chachi -->

	<H1>GamesWiki </H1>
	<hr/>
	<h3>La Wiki más completa de videojuegos y frikadas</h4>
	<hr/>
	<p>El desarrollo de la HomePage está todavia en desarrollo</p><br/>
	<p>Disculpen la simpleza y cutrez, no es el plato fuerte de este proyecto</p>
	<p>Gracias de antetimo</p><br/><br/><br/><br/>
</body>
<footer>
	<P>[WIP] -> Work In Progres</P>
</footer>
</html>